{% extends "encyclopedia/layout.html" %}

{% block title %} 
    Search: {{title}}
{% endblock %}

{% block body %}

    <h1>Search results for: "{{title}}"</h1>

    {% if related_search %}
        <p>Related results:</p>
        <ul>
            {% for title in related_search %}
                <li><a href="{% url 'entry' title=title %}">{{title}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No search results found for
        "{{title}}" in Wiki 
    </p>
    <p>Visit the <a href="{% url 'index' %}">Home</a> page to see available articles</p>
    {% endif %}

{% endblock %}